<!-- <app-header></app-header>
<app-header></app-header>
<app-header></app-header> -->
<lib-core></lib-core>

<div #errorDiv>

</div>
{{name}}

<div [hidden]="isHidden" [innerText]="name"></div>

<div *ngIf="isHidden" [innerText]="name"></div>

<button (click)="toggle()">Toggle</button>
Employee Details:
<br>
{{employee.id}}
<br>
{{employee.name}}
<br>
{{employee.email}}
<br>
{{employee.dob}}
<br>
{{employee.salary}}

<button class="btn btn-primary" (click)="addEmployee()">
  Add Employee
</button>

<app-employee-list></app-employee-list>
