<!-- <h1>
  Hello World!
</h1>
<button class="btn btn-primary" (click)="addDeprtment()">
  Add Department
</button> -->
<!-- <div [ngSwitch]="userType">
  <div *ngSwitchCase="'User'">
    <app-employee></app-employee>
  </div>
  <div *ngSwitchCase="'Admin'">
    Welcome to Dashboard
  </div>
  <div *ngSwitchDefault>
    Please login!
  </div>
</div> -->

<!-- <app-employee></app-employee>

<app-department></app-department> -->
<!-- <app-container>
  <div>
    This is container.
  </div>
  <app-employee></app-employee>
  <app-department></app-department>
</app-container> -->

<!-- <app-todos></app-todos> -->
<a routerLink="employee">Employee</a>
<br>
<a routerLink="department">Department</a>
<br>
<a routerLink="todos">Todos</a>
<br>
<router-outlet></router-outlet>
