{{employee$ | async | json }}

<table class="table">
  <thead>
    <tr>
      <th>Index</th>
      <th>Even</th>
      <th>Odd</th>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>DOB</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="e ? 'even' : 'odd'"
      *ngFor="let emp of empList; let i=index; let e=even;let o= odd; trackBy: trackByFn">
      <td>{{i}}</td>
      <td>{{e}}</td>
      <td>{{o}}</td>
      <td>{{emp.id | percent}}</td>
      <td [innerText]="emp.name | uppercase"></td>
      <td>{{emp.email | lowercase}}</td>
      <td>{{emp.dob | date: 'dd-MMM-yyyy' }}</td>
      <td>{{emp.salary | currency:'EUR'}}</td>
    </tr>
  </tbody>
</table>

